<%- include('partials/header.ejs'); %>

<body>

    <%- include('partials/navbar.ejs'); %>

    <div class="container">
        <h1 class="text-center">Pessoas</h1>
        <hr>
        <a role="button" class="btn btn-primary" href="/cadastrar-pessoa">Nova Pessoa</a>

        <% pessoas.forEach(pessoa => { %>

            <div class="card mt-2">

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
                        <% if(pessoa.image){ %>
                            <img src="<%=pessoa.image%>" class="img-fluid" />
                        <% }else{ %>
                            <img src="http://via.placeholder.com/300x300?text=Sem foto" />
                        <% } %>
                        </div>
                    </div>
                    <h3 class="text-center">Nome: <%= pessoa.nome %></h3>
                    <h4 class="text-center">Email: <%= pessoa.email %></h4>
                    <p class="text-center pl-3 pr-3">Função: <%= pessoa.funcao%></p>
                </div>

                <div class="card-footer">
                    <a role="button" href="/tarefa/<%=pessoa.id%>" class="btn btn-info float-right">Tarefa</a>
                </div>

            </div>

        <% }) %>

    </div>

</body>

<%- include('partials/footer.ejs'); %> 


